body {
  font-family: CreteRound, serif;
  overflow-x: hidden;
}

.portfolio {
  position: absolute;
  top: 100vh;
  width: 100vw;
}

// TODO How to hide the scrollbar
// https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll